pandas
numpy
scikit-learn
xgboost
prophet
easyocr
spacy
nltk

matplotlib
seaborn
plotly

streamlit
fastapi
uvicorn

sqlalchemy

joblib

mlflow

python-multipart

pillow

opencv-python

isort
black

pytest